
.main_container_wrap{
    width: 100%;
    height: 765px;
    margin: 0 auto;
    position: relative;
}
.main_container_wrap::before, .main_container_wrap::after{
    content: '';
    width: 100%;
    height: 765px;
    position: absolute;
    left: 0;
    top: 0;
}

.main_container_wrap::before{
    background: url(backgroundpic.png);
    background-size:cover;
    z-index: -10;
    background-repeat: no-repeat;
}

.main_container_wrap::after{
    background-color: rgba(24, 24, 24, 0.8);
    z-index: -5;
}

.header_container{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}




.header-left-side{
   padding-left: 133px;
   display: flex;
   /* justify-content: space-between; */
}


.logo_wrap{
    padding-right: 7px;
}



.words_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -9px;
}


.header-link{
    text-decoration: none;
    font-size: 29px;
    color: white;
    font-family: 'Verdana-Bold', Courier;
    
}
.header-link:hover{
    color: orange;
}
.holidays-link{
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-family: "Verdana", "Courier";
    
}
.holidays-link:hover{
    color: orange;
}
.header-right-side{
    color: white;
    padding-right: 133px;
    font-size: 18px;

 }

 .number{
     text-align: right;
 }

.images_wrap{
    
}

.images_text{
    display: flex;
    justify-content: space-between;
    padding-right: 130px;
    padding-left: 130px;
    padding-top: 20px;
}

.images_text div{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 20px;
    width: 275px;
}

 .first_row_images_container{
    display: flex;
    justify-content: space-between;
    padding-right: 130px;
    padding-left: 130px;
    padding-top: 20px;

 }
 .first_row_images_container div{
    border: 2px solid white;
 }
 .second_row_images_container{
     display: flex;
 }


 .second_images_wrap{
    padding-top: 10px;
 }

 .second_row_images_container{
    display: flex;
    justify-content: space-between;
    padding-right: 130px;
    padding-left: 130px;
    padding-top: 20px;
 }

 .second_row_images_container div{
    border: 2px solid white;
    
    
    
 }
 .footer-wrap{
    display: flex;
    justify-content: center;
    margin: 70px;
 }
 .footer{
     color: white;
 }

